<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <!-- Make a function that uses http://localhost:8081/users to display all the users -->
    <script>
        function getUsers() {
            fetch('http://localhost:8081/users')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let users = data;
                let output = '';
                users.forEach(user => {
                    output += `
                        <ul>
                            <li>${user.username}</li>
                            <li>${user.email}</li>
                            <li>${user.password}</li>
                            <br />
                        </ul>
                    `;
                });
                document.getElementById('users').innerHTML = output;
            })
        }
        getUsers();
    </script>

    <div id="users"></div>
</body>
</html>

